.skylineimage {
  background-color: #cc9933;
  background-image: url("abq-skyline2.png");
  background-size: 100% 65%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 800px;
  padding-top: 30px;
  padding-left: 99px;
}

.main {
	font: Proxima Nova;
}

#email {
    border-radius: 8px;
    height: 35px;
    width: 250px;
    margin-top: 10px;
    background-color: #0000;
    border-radius: 8px;
    border: solid white 2px;
  }