html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}

body{
  background: #cc9933;
  font: Proxima Nova;
}

button{
  outline: none !important;
}

a:hover{
  text-decoration: none !important;
  color: white !important;
}

nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

nav ul {
  list-style: none;
  background: rgba(0,0,0,0);
  overflow: hidden;
  padding-left: 150px;
  text-align: left;
  margin: 0;
  transition: 1s;
}

nav ul li{
  display: inline-block;
  padding: 20px;
  color: #fff;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

nav ul li.active a{
  color: #CC3333;
}

.buttonDonate{
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  background: #cc9933 0% 0% no-repeat padding-box;
  font: Bold Proxima Nova;
  font-size: 13px;
  color: #fff;
  display: inline-block;
  border: none;
  border-radius: 8px;
  width: 115px;
  height: 35px;
}

.menu{
  background:transparent;
}

 nav.black ul{
  background: #000;
 }

.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.active{
  color: #CC3333;
}

.logo {
  position: fixed;
  float: left;
  margin: 12px 30px;
  height: 40px;
  width: auto;
}

.donateIcon {
  margin-left: 170px;
}

.donateSplashPage{
  background-image: url("community.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  margin: 0 auto;
}

.heading{
  padding-top: 200px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.text{
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.donateOptions{
  background-color: #cc9933;
  padding-top: 100px;
  color: #fff;
  height: 600px;
  font-size: 13px;
}

.donateCta{
  background-color: #cc9933;
}

.donating{
  margin-left: 43%;
  margin-top: 50px;
  background: #cc3333 0% 0% no-repeat padding-box;
  font: Bold Proxima Nova;
  padding: 100px;
  margin-bottom: 50px;
  font-size: 13px;
  color: #fff;
  display: inline-block;
  border: none;
  border-radius: 8px;
  width: 115px;
  height: 35px;
}

.links a {
  color: black;
}

.links {
  text-align: right;
  line-height: 90%;
  border-right-style: solid;
}

.links ul li{
  list-style: none;
  margin-bottom: 15px;
  color: black;
}

.links ul li a{
  color: black;
}

h4{
  color: #cc9933;
}

.footer {
  background-image: url("footer-bg.png");
  background-size: 100%;
  background-position: bottom;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  height: 350px;
}

.footerLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 100px;
  height: 70px;
  margin-bottom: -50px;
}

.links a {
  color: black;
}

.links {
  text-align: right;
  line-height: 90%;
  border-right-style: solid;
}

.contactUs{
  color: #cc9933;
  margin-top: 35px;
  margin-left: 15px;
}

.contactUs2{
  line-height: 1.2;
  margin-left: 15px;
}

.rights{
  font-size: 12px;
  text-align: center;
  margin-top: -30px;
}

.fill {
  background-color: #cc9933;
}

@media(max-width: 800px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

nav ul {
  max-height: 0px;
  background: #000;
}

nav.black ul {
  background: #000;
}

.showing {
  max-height: 100%;
}

.menu-icon {
  display: block;
  background-color: black;
  }

.buttonDonate{
  align-content: center;
}

.donateOptions{
  height: 50%;
  text-align: center;
}

.donateIcon{
  margin-left: 0px;
}

.footer {
  background-size: cover;
  font-size: small;
}

.links {
  margin-top: -160px;
}

.rights {
  font-size: 5px;
  margin-top: -5px;
}

.footerLogo {
  margin-top: -160px;
}

}
