html, body {
margin: 0;
padding: 0;
width: 100%;
}
header{
    width: 100%;
    height: 100vh;
}
nav{
    position: fixed;
    width: 100%;
}
nav ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    text-align: center;
    background: rgba(0, 0,0, 0);
    color:#fff;
    transition: 1s;
}
nav.black ul{
    background: #000;
}
nav ul li{
    display: inline-block;
    padding:20px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}
.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.button1{
    position: absolute;
    top: 100px;
}
@media(max-width: 580px){
    nav ul{
        max-height: 0px;
        background: #000;
    }
    nav.black ul{
        background: #000;
    }
    .showing {
        max-height: 20em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    .menu-icon{
        display: block;
        color: #fff;
    }
}
video {
    height: 565px;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    right: 0;
    bottom: 0;
    background-size: cover;
    overflow: hidden;
}